Persons.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Persons">
    <xs:annotation>
      <xs:documentation> End </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Person" maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation> Person 1  Person 2  Person 3  Person 4  Person 5  Person 6  Person 7  Person 8  Person 9  Person 10  Person 11  Person 12  Person 13  Person 14  Person 15 </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="First"/>
                    <xs:element type="xs:string" name="Last"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Credential">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="id"/>
                    <xs:element name="password">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="encryption" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Phone">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:long" name="Work"/>
                    <xs:element name="Cell">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:long">
                            <xs:attribute type="xs:string" name="provider" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="Category"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>